/*-------------- info-panel -----------------*/
.info-panel-wrap{
	position: relative;
	z-index: 2;
}

.info-panel{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	border-radius: 30px;
	background: #fff;
	padding: 80px;
	font-size: 1.6rem;
	color: #21222D;
	background: rgba(235,235,235,1);
	background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,235,235,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff', GradientType=0 );


	&__title{
		font-size: 4rem;
		font-weight: 500;
		line-height: 1.2;
		color: #21222D;
		margin-bottom: 2.3rem;
	}
}

@media (max-width: 991px) {
	.info-panel{
		padding: 40px;
		&__title{font-size: 3.4rem;}
	}
}

@media (max-width: 767px) {
	.info-panel{
		flex-direction: column;
		align-items: flex-start;
		padding: 20px;

		&__title{font-size: 3rem;}
	}
}