/*-------------- main-menu -----------------*/
.main-menu{
	ul,
	li{
		@include reset-list;
	}

	ul{
		display: inline-flex;
		gap: 40px;
	}

	li{
		font-size: 1.8rem;
		
		a{
			color: #21222D;
			text-decoration: none;
			transition: color 0.2s ease 0s;
		}

		a:hover{color: var(--color-primary);}
	}
}