/*-------------- tabs-page-vertical -----------------*/
.tabs-page-vertical{
	&__list,
	&__item{
		@include reset-list;
	}

	&{
		display: flex;
		gap: 30px;
	}

	&__list{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 25px;
		flex-shrink: 0;
		width: 280px;
	}

	&__item{
		@include font(none, none, 1.8rem, 1.5, #21222D);
		position: relative;
		cursor: pointer;

		&::before{display: none;}

		&::after{
			content: '';
			width: 0;
			height: 2px;
			background: var(--color-primary);
			position: absolute;
			bottom: -14px;
			left: 0;
			transition: width 0.2s ease 0s;
		}

		&:hover::after,
		&.active::after{
			width: 100%;
		}

		&:hover,
		&.active{
			color: var(--color-primary);
		}

		&.active{cursor: auto;}
	}

	&__content{width: 100%;}

	&__content-item{
		display: none;
		width: 100%;
		height: 100%;
		background: rgba(239,233,233,1);
		background: -moz-linear-gradient(top, rgba(239,233,233,1) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,233,233,1)), color-stop(100%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top, rgba(239,233,233,1) 0%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(top, rgba(239,233,233,1) 0%, rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(top, rgba(239,233,233,1) 0%, rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom, rgba(239,233,233,1) 0%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe9e9', endColorstr='#ffffff', GradientType=0 );
		padding: 30px;
		border-radius: 30px;
	}

	.list-custom-column{
		column-count: 2;
		gap: 40px;
	}

	.list-custom{
		&__item{break-inside: avoid;}
	}

	.btn{
		width: 100%;
		padding: 0 40px;
		margin-top: 20px;
	}
}

@media (max-width: 991px) {
	.tabs-page-vertical{
		flex-direction: column;

		&__list{
			width: auto;
			flex-direction: row;
			gap: 20px;
			margin-left: -20px;
			margin-right: -20px;
			padding-left: 20px;
			padding-right: 20px;
			overflow-x: auto;
			padding-bottom: 10px;
		}

		&__item{white-space: nowrap;}
		&__item::after{bottom: -4px;}
	}
}

@media (max-width: 767px) {
	.tabs-page-vertical{
		&__item{font-size: 1.6rem;}
		&__content-item{padding: 15px;}

		.list-custom-column{column-count: 1;}
		.btn{padding: 0 10px;}
	}
}