/*-------------- tabs-page -----------------*/
.tabs-page{
	&__list,
	&__item{
		@include reset-list;
	}

	&__list{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px;
		position: relative;
	}

	&__item{
		@include font(none, 500, 1.8rem, 1.5, #21222D);
		padding-bottom: 15px;
		position: relative;
		cursor: pointer;
		transition: color 0.2s ease 0s;

		&::before{display: none;}

		&::after{
			content: '';
			width: 0;
			height: 2px;
			background: var(--color-primary);
			position: absolute;
			bottom: 0;
			left: 0;
			transition: width 0.2s ease 0s;
		}

		&:hover::after,
		&.active::after{
			width: 100%;
		}

		&:hover,
		&.active{
			color: var(--color-primary);
		}

		&.active{cursor: auto;}
	}

	&__content-item{
		display: none;
		padding: 46px 0 0;
	}
}

@media (max-width: 991px) {
	.tabs-page{
		&__list{
			justify-content: flex-start;
			flex-wrap: nowrap;
			margin-left: -20px;
			margin-right: -20px;
			padding-left: 20px;
			padding-right: 20px;
			overflow-x: auto;
		}

		&__item{
			white-space: nowrap;
			padding-bottom: 8px;
		}
	}
}

@media (max-width: 767px) {
	.tabs-page{
		&__list{gap: 20px;}
	}
}