/*-------------- tabs-page -----------------*/
.tabs-page{
	&__list,
	&__item{
		@include reset-list;
	}

	&__list{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px;
		position: relative;
	}

	&__item{
		@include font(none, 500, 1.8rem, 1.5, #21222D);
		padding-bottom: 15px;
		position: relative;
		cursor: pointer;
		transition: color 0.2s ease 0s;

		&::before{display: none;}

		&::after{
			content: '';
			width: 0;
			height: 2px;
			background: var(--color-primary);
			position: absolute;
			bottom: 0;
			left: 0;
			transition: width 0.2s ease 0s;
		}

		&:hover::after,
		&.active::after{
			width: 100%;
		}

		&:hover,
		&.active{
			color: var(--color-primary);
		}

		&.active{cursor: auto;}
	}

	&__content-item{
		display: none;
		padding: 46px 0 0;
	}
}

// @media (max-width: 1279px) {
// 	.tabs-page{
// 		&_line &__item{
// 			padding-right: 25px;
// 			padding-left: 25px;
// 		}
// 	}
// }

// @media (max-width: 991px) {
// 	.tabs-page{
// 		&__item{font-size: 1.8rem;}

// 		&_btn{
// 			.advant_column{
// 				flex-direction: row;
// 				gap: 40px;
// 			}

// 			.advant_column .advant__item{width: calc(50% - 20px);}
// 		}
// 	}
// }

// @media (max-width: 767px) {
// 	.tabs-page{
// 		&__list{gap: 35px;}
// 		&__item{font-size: 1.3rem;}
// 		&__item::after{height: 1px;}

// 		&_line &__list{gap: 5px;}

// 		&_line &__item{
// 			font-size: 1.2rem;
// 			padding-left: 5px;
// 			padding-right: 5px;
// 		}

// 		&_line &__content-item{
// 			font-size: 1rem;
// 			padding-top: 15px;

// 			ol, ul, p{margin-bottom: 1.5rem;}
// 		}

// 		.reviews-list{margin-top: 3px;}

// 		&_btn &__list{gap: 4px;}

// 		&_btn &__item{
// 			height: 3rem;
// 			min-width: 0;
// 			border-radius: 1.5rem;
// 			font-size: 0.7rem;
// 			padding: 0 30px;
// 		}

// 		&_btn{
// 			.advant_column{
// 				gap: 16px;
// 				.advant__label{font-size: 1.1rem;}
		
// 				.advant__item{
// 					width: 100%;
// 					flex-direction: row;
// 					gap: 10px;
// 				}
		
// 				.advant__label{text-align: left;}
		
// 				.advant__val{
// 					width: 56px;
// 					height: 56px;

// 					.icon,
// 					img{
// 						max-width: 70%;
// 						max-height: 70%;
// 					}
// 				}
// 			}
// 		}
		

// 	}
// }