extends ../layout/main

block variables
	- var title = 'Тарифы';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Тарифы'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.tariffs
		.container
			.row
				#json-data(style='display:none;')
					| {
					| "plans": [
					| {
					| "tariff_id": "#tariff-1",
					| "monthly": {
					| "1 000": 189.9,
					| "2 000": 360,
					| "5 000": 850,
					| "10 000": 1600,
					| "20 000": 3000,
					| "50 000": 7000,
					| "100 000": 13000,
					| "200 000": 24000,
					| "500 000": 29000,
					| "1 000 000": 33000,
					| "5 000 000": 33000
					| }
					| },
					| {
					| "tariff_id": "#tariff-2",
					| "monthly": {
					| "1 000": 490,
					| "2 000": 950,
					| "5 000": 2200,
					| "10 000": 4200,
					| "20 000": 8000,
					| "50 000": 18500,
					| "100 000": 35000,
					| "200 000": 42000,
					| "500 000": 48000,
					| "1 000 000": 52000,
					| "5 000 000": 52000
					| }
					| },
					| {
					| "tariff_id": "#tariff-3",
					| "monthly": {
					| "1 000": 1200,
					| "2 000": 2300,
					| "5 000": 5400,
					| "10 000": 10000,
					| "20 000": 19000,
					| "50 000": 43000,
					| "100 000": 65000,
					| "200 000": 75000,
					| "500 000": 83000,
					| "1 000 000": 90000,
					| "5 000 000": 90000
					| }
					| }
					| ]
					| }




				.col-xxl-10.offset-xxl-1
					.tariffs__top
						.tariffs__title Тестовый период
							span.tariffs__tag 2 недели

						.tariffs__subtitle Сканируем 10 000 страниц ежедневно бесплатно

						a(href="#").btn Сканировать

					.tariffs-type
						label.tariffs-type__item
							input(type="radio", name="tariffs-type", class="js-tariffs-type-check", checked="checked", value="monthly")
							.tariffs-type__content
								.tariffs-type__val Месяц

						label.tariffs-type__item
							input(type="radio", name="tariffs-type", class="js-tariffs-type-check", value="yearly", data-sale="20")
							.tariffs-type__content
								.tariffs-type__val Год
								.tariffs-type__label -20
									span.tariffs-type__percent %

					.tariffs-slider
						.tariffs-slider__label Число страниц для ежедневного сканирования

						.tariffs-slider__content
							.slider-range
								.slider-range__field
									#slider-range.js-slider-range(data-step="1 000, 2 000, 5 000, 10 000, 20 000, 50 000, 100 000, 200 000, 500 000, 1 000 000, 5 000 000", autocomplete="off")

								.slider-range__labels
									.slider-range__val 1 000
									.slider-range__val 5 000 000

					.tariffs-list
						-
							var list=[
								{id:'1', title:'1 месяц', price:'189.9'},
								{id:'2', title:'6 месяцев', price:'490', status:'active'},
								{id:'3', title:'Индивидуальный', price:'1200'},
							]
						each item in list
							.tariff-item(id="tariff-"+item.id)
								.tariff-item__title= item.title

								.tariff-item-price
									.tariff-item-price__label Цена
									.tariff-item-price__val
										span.js-tariff-item-price-val= item.price
										| 
										| руб/мес

								.tariff-item-params
									.tariff-item-params__item
										.tariff-item-params__label Строк хранения данных
										.tariff-item-params__val 1 месяц

									.tariff-item-params__item
										.tariff-item-params__label Themes:
										.tariff-item-params__val 20

									.tariff-item-params__item
										.tariff-item-params__label Дополнительные 100 стр
										.tariff-item-params__val 20

									.tariff-item-params__item
										.tariff-item-params__label Число проекта:
										.tariff-item-params__val 20

									.tariff-item-params__item
										.tariff-item-params__label Число мониторингов контента:
										.tariff-item-params__val 20

									.tariff-item-params__item
										.tariff-item-params__label Число пользователей:
										.tariff-item-params__val 1.95 GiB

								a(href="#").btn.btn_border Попробовать сейчас

	section.about-wrap.mt-indent
		.container
			.row
				.col-xxl-10.offset-xxl-1
					.about
						.about__content
							h2.h3 Заголовок

							p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

							a.btn(href='#') Попробовать бесплатно

						.about__img
							img(src="assets/img/about.jpg", alt="")
	