extends ../layout/main

block variables
	- var title = 'Типографика';
	- var h1 = 'Типографика';


block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Типографика'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.container
		.row
			.col-12
				p
					a(href='#') Это стандартная ссылка

				p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

				p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>

				br
				br
				div.h2 Доп. классы для текста
				p <span class="code">text-left</span> Выравнивание текста по левому краю
				p <span class="code">text-center</span> Выравнивание текста по центру
				p <span class="code">text-right</span> Выравнивание текста по правому краю
				p <span class="code">text-justify</span> Выравнивание текста по ширине
				p <span class="code">text-uppercase</span> Все символы текста становятся прописными (верхний регистр)
				p <span class="code">text-bold</span> Жирный текст

				br
				br
				div.h2 Заголовки
				h1 Заголовок - h1
				h2 Заголовок - h2
				h3 Заголовок - h3
				h4 Заголовок - h4
				h5 Заголовок - h5
				h6 Заголовок - h6

				br
				p.h1 Это класс с названием h1
				p.h2 Это класс с названием h2
				p.h3 Это класс с названием h3
				p.h4 Это класс с названием h4
				p.h5 Это класс с названием h5
				p.h6 Это класс с названием h6

				br
				br
				br
				div.h2 Кнопки
				a.btn(href='#') Кнопка
				br
				br
				a.btn.btn_small(href='#') Кнопка

				br
				br
				br
				.h2 Табуляция
				.tabs-page.js-tabs-page
					.tabs-page__top
						ul.tabs-page__list.js-tabs-page-list
							li.tabs-page__item.js-tabs-page-item(data-item='tab-desc') Описание
							li.tabs-page__item.js-tabs-page-item(data-item='tab-param') Характеристики
							li.tabs-page__item.js-tabs-page-item(data-item='tab-spec') Спецификация
							li.tabs-page__item.js-tabs-page-item(data-item='tab-use') Применение
							li.tabs-page__item.js-tabs-page-item(data-item='tab-doc') Документация

					.tabs-page__content.js-tabs-page-content
						#tab-desc.tabs-page__content-item.js-tabs-page-content-item
							p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.

							p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

						#tab-param.tabs-page__content-item.js-tabs-page-content-item
							| Текст

						#tab-spec.tabs-page__content-item.js-tabs-page-content-item
							| Текст

						#tab-use.tabs-page__content-item.js-tabs-page-content-item
							| Текст

						#tab-doc.tabs-page__content-item.js-tabs-page-content-item
							| Текст

					
					br
					br
					.tabs-page-vertical.js-tabs-page
						.tabs-page-vertical__top
							ul.tabs-page-vertical__list.js-tabs-page-list
								li.tabs-page-vertical__item.js-tabs-page-item(data-item='tab1') Ежедневно
								li.tabs-page-vertical__item.js-tabs-page-item(data-item='tab2') Работа с данными
								li.tabs-page-vertical__item.js-tabs-page-item(data-item='tab3') Работа с командой
								li.tabs-page-vertical__item.js-tabs-page-item(data-item='tab4') Подробно по каждой странице
								li.tabs-page-vertical__item.js-tabs-page-item(data-item='tab5') Мониторинг контента
								li.tabs-page-vertical__item.js-tabs-page-item(data-item='tab6') Хранение данных

						.tabs-page-vertical__content.js-tabs-page-content
							#tab1.tabs-page-vertical__content-item.js-tabs-page-content-item
								ol.list-custom
									li.list-custom__item Обновление информации по домену по более чем 15 параметрам.
									li.list-custom__item Поиск битых ссылок
									li.list-custom__item Поиск дублей title, description, h1 и повторяет ли h1 текст title
									li.list-custom__item Сканирование всех страниц сайта на: ответ сервера, запрет индексации, вес, canonical, отличия mobile от desktop, микроразметку и пр.
									li.list-custom__item Вывод содержимого метатегов, заголовков, микроразметки
									li.list-custom__item Поиск новых страниц
									li.list-custom__item
										a.btn(href='#') Контроль SEO-подрядчиков  💪🔍

							#tab2.tabs-page-vertical__content-item.js-tabs-page-content-item
								| Текст

							#tab3.tabs-page-vertical__content-item.js-tabs-page-content-item
								| Текст

							#tab4.tabs-page-vertical__content-item.js-tabs-page-content-item
								| Текст

							#tab5.tabs-page-vertical__content-item.js-tabs-page-content-item
								| Текст

							#tab6.tabs-page-vertical__content-item.js-tabs-page-content-item
								| Текст


				br
				br
				div.h2 Иконки
				.type-icon
					.type-icon__item
						.type-icon__img
							+svg('ic-vk','ic-vk', '23', '23')
						.type-icon__name ic-vk

					.type-icon__item
						.type-icon__img
							+svg('ic-telegram','ic-telegram', '23', '19')
						.type-icon__name ic-telegram

					.type-icon__item
						.type-icon__img
							+svg('ic-window','ic-window', '30', '24')
						.type-icon__name ic-window

					.type-icon__item
						.type-icon__img
							+svg('ic-scanning','ic-scanning', '30', '30')
						.type-icon__name ic-scanning

					.type-icon__item
						.type-icon__img
							+svg('ic-db','ic-db', '30', '26')
						.type-icon__name ic-db

					.type-icon__item
						.type-icon__img
							+svg('ic-users','ic-users', '30', '30')
						.type-icon__name ic-users

					.type-icon__item
						.type-icon__img
							+svg('ic-report','ic-report', '29', '28')
						.type-icon__name ic-report

					.type-icon__item
						.type-icon__img
							+svg('ic-guarantee','ic-guarantee', '27', '30')
						.type-icon__name ic-guarantee

					.type-icon__item
						.type-icon__img
							+svg('ic-arrow-left','ic-arrow-left', '24', '24')
						.type-icon__name ic-arrow-left

					.type-icon__item
						.type-icon__img
							+svg('ic-arrow-right','ic-arrow-right', '24', '24')
						.type-icon__name ic-arrow-right

					.type-icon__item
						.type-icon__img
							+svg('ic-search-doc','ic-search-doc', '25', '30')
						.type-icon__name ic-search-doc

					.type-icon__item
						.type-icon__img
							+svg('ic-replay','ic-replay', '29', '28')
						.type-icon__name ic-replay

					.type-icon__item
						.type-icon__img
							+svg('ic-list','ic-list', '24', '30')
						.type-icon__name ic-list

					.type-icon__item
						.type-icon__img
							+svg('ic-search-list','ic-search-list', '24', '30')
						.type-icon__name ic-search-list

					.type-icon__item
						.type-icon__img
							+svg('ic-bell','ic-bell', '32', '32')
						.type-icon__name ic-bell

					.type-icon__item
						.type-icon__img
							+svg('ic-check-circle','ic-check-circle', '32', '32')
						.type-icon__name ic-check-circle

					.type-icon__item
						.type-icon__img
							+svg('ic-link','ic-link', '28', '28')
						.type-icon__name ic-link

					.type-icon__item
						.type-icon__img
							+svg('ic-graph','ic-graph', '29', '30')
						.type-icon__name ic-graph

					.type-icon__item
						.type-icon__img
							+svg('ic-robot','ic-robot', '29', '26')
						.type-icon__name ic-robot

					.type-icon__item
						.type-icon__img
							+svg('ic-star','ic-star', '29', '28')
						.type-icon__name ic-star