//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site:  Arial, sans-serif;

// Site
$color-text: #000;
$color-grey: #818181;
$color-grey-light: #bfbfbf;

// Grid
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1336px,
//   xxxl: 1890px
// ) !default;

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1310px,
//   xxxl: 1860px
// ) !default;


// $grid-columns: 16;