header.header
	.container
		.row
			.col-12
				.header__content
					.header__logo
						a(href="#")
							img(src="/assets/img/logo.svg", alt="")

					.main-menu
						ul
							li.current-menu-item
								a(href="#") Тарифы
							li
								a(href="#") Блог
							li
								a(href="#") Решения

					.header__actions
						.social
							a(href="#").social__item
								+svg('ic-vk','ic-vk', '23', '23')

							a(href="#").social__item
								+svg('ic-telegram','ic-telegram', '23', '19')

						a.btn.btn_small(href='#') Вход