header.header
	.container
		.row
			.col-12
				.header__content
					.header__logo
						a(href="#")
							img(src="/assets/img/logo.svg", alt="")

					.main-menu
						ul
							li Тарифы
							li Блог
							li Решения

					.header__actions
						.social
							a(href="#").social__item
								+svg('ic-vk','ic-vk', '23', '23')

							a(href="#").social__item
								+svg('ic-telegram','ic-telegram', '23', '19')

						a.btn(href='#') Вход